* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

body:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #378abd;
    opacity: .9;
    z-index: -1;
}

a:hover, a:focus {
	text-decoration: none!important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

#dashboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 850px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.14), 0 10px 10px rgba(0,0,0,0.11);
    background: #f5f5f5;
}

#navbar, #header {
    padding: 0 90px;
}

#navbar {
    width: 100%;
    height: 7%;
    background: #26a2d5;
    padding-left: 125px;
}

#menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

#menu .li {
    padding-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    transition: 0.2s;
}

#menu .li.active {
    color: rgba(255, 255, 255, 0.85);
}

#menu .li:hover {
    color: rgba(255, 255, 255, 0.85);
}

#main {
    height: 93%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    background: #29b6ec;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 3px 5px rgba(0,0,0,0.17);
}

#header #page-title {
    font-size: 35px;
    font-weight: 300;
    padding: 10px 35px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}


.btn {
    padding: 12px 45px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background: #29b6ec;
    transition: all 0.2s;
    letter-spacing: 1px;
}

.btn-transparent {
    color: #26a2d5;
    text-transform: uppercase;
    border: 1px solid #29b6ec;
    border-radius: 5px;
    background: transparent;
}

.floating-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #29b6ec;
    line-height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1000;
    cursor: pointer;
}

.floating-btn::after {
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 7px);
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    opacity: 0;
    display: block;
    content: attr(tooltip);
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 12px;
    transition: all 0.2s;
    line-height: 1;
    border-radius: 5px;
    padding: 7px 5px;
    letter-spacing: 0;
}

.floating-btn:hover::before {
    visibility: visible;
    opacity: 1;
}

.floating-btn::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: rgba(0,0,0,0.6) transparent transparent transparent;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.floating-btn:hover::after {
    visibility: visible;
    opacity: 1;
}

.floating-btn img {
    width: 60%;
}

.btn:hover {
    color: #fff;
    background: #26a2d5;
}

.btn-transparent:hover {
    background: #29b6ec;
    color: #fff;
}

.btn-transparent.light {
    color: rgba(255, 255, 255, 0.85);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
}

.btn-transparent.light:hover {
    background: #fff;
    color: #29b6ec;
}

.input-group {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}
.text-field {
	outline: none;
	background: #f2f2f2;
	border: 0;
	padding: 15px;
	color: #333;
	font-family: "Roboto", sans-serif;
	width: 100%;
	font-size: 16px;
}
.input-group .btn {
	padding: 15px;
	color: #fff;
	background: rgb(35, 204, 239);
	transition: all 0.15s;
	cursor: pointer;
	border-radius: 0;
}

#container {
    position: relative;
    height: 80%;
    letter-spacing: 0;
}

.modal {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 86%;
    height: 86%;
    color: #464646;
    background: #fcfcfc;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    animation: expand-modal 0.6s cubic-bezier(.25,.8,.25,1);
}
.modal > div {
    padding: 0 45px;
    animation: fadein 1s;
}
.modal-header {
    height: 15%;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.modal-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    padding: 45px !important;
}
.modal-footer {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
.modal-footer:before, .modal-footer:after {
    content: none;
}

.fade {
    opacity: 1;
    transition: all 0.4s;
}
.fadein {
    animation: fadein 0.8s;
}
.fade.ng-hide {
    opacity: 0;
}



@keyframes expand-modal {
    0% { width: 0%; height: 0%; opacity: 0; }
    100% {
        width: 86%;
        height: 86%;
        opacity: 1; }
}

@keyframes fadein {
    0% {opacity: 0;}
    40% { opacity: 0; }
    100% { opacity: 1; }
}





















.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #26a2d5;
    border-color: #26a2d5;
}

.lowercase {
    text-transform: none;
    letter-spacing: normal;
    font-size: 16px;
}
