<div style="height:100%;" >
	<div id="header">
		<div id="page-title">
			<h1>Unassigned orders</h1>
			<h5>{{vm.orders.length}} unassigned orders </h5>
		</div>
		<button class="btn btn-transparent light lowercase no-spacing" ng-click="vm.openAssignModal()"> Assign to drivers </button>
	</div>

	<div id="container">
		<div id="orders-container">
			<div id="orders">
				<div class="card-container fadein" ng-repeat="order in vm.orders">
					<div class="card">
						<div class="card-header clearfix">
							<div class="half">Order #{{order.id}}</div>
							<div class="half"> {{order.orderType}} </div>
						</div>
						<div class="card-body">
							<table>
								<tr>
									<th> City name </th>
									<th> Street name </th>
								</tr>
								<tr>
									<td title="{{order.cityName}}"> {{order.cityName}} </td>
									<td title="{{order.streetName + ' ' + order.streetNumber}}"> {{order.streetName + ' ' + order.streetNumber}} </td>
								</tr>
								<tr>
									<th> From </th>
									<th> Until </th>
								</tr>
								<tr>
									<td title="{{order.timeWindowFrom}}"> {{order.timeWindowFrom}} </td>
									<td title="{{order.timeWindowTill}}"> {{order.timeWindowTill}} </td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- ********* New order modal **********-->

		<div id="newOrderModal" class='modal fade' ng-show="vm.modal === 'newOrder'">
			<div class="modal-body">
				<div class="upload-area fade" ng-show="vm.uploadStep == 1">
					<input id="upload-btn" name="upload-btn" load-csv type="file">
					<label for="upload-btn" class="btn" > Upload </label>
					<p> Upload orders in CSV format </p>
				</div>

				<div id="set-view" class="fadein fade" ng-show="vm.uploadStep == 2">
					<table id="order-data" class="table">
						<thead>
							<tr>
								<th class="field"> Field </th>
								<th class="value"> Value </th>
							</tr>
						</thead>
						<tbody id="order-body">
							<tr ng-repeat="field in vm.uploadFields">
								<td> {{field}} </td>
								<td> <input type="text" class="upload-value-field" ng-model="vm.uploadValues[vm.selectedOrder][$index]" spellcheck="false"/> </td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="notify_success" class="fadein" ng-show="vm.uploadStep == 3">
					<img src="img/success.svg" width="100px"/>
					<h3>Success! {{vm.uploadOrders.length}} orders have been added.</h3>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-transparent fade" ng-click="vm.closeOrderCreation()" ng-show="vm.uploadStep != 3"> Cancel </button>
				<ul class="pagination fade fadein" ng-show="vm.uploadStep == 2 && vm.uploadValues.length > 1">
					<li ng-repeat="order in vm.uploadValues" ng-click="vm.selectedOrder=$index" ng-class="{'active': vm.selectedOrder == $index}">
						<a href="#"> {{$index + 1}} </a>
					</li>
				</ul>
			<button class="btn uppercase fade" ng-click="vm.saveOrder()" ng-disabled="vm.uploadStep == 1" ng-show="vm.uploadStep != 3"> Save </button>
			</div>
		</div>



		<!-- ********* Assign modal **********-->

		<div id="assignModal" class='modal fade' ng-show="vm.modal === 'assignOrders'">
			<div class="modal-body">
				<div id="assignOrdersMap" class="fade" ng-show="vm.assignStep == 1"></div>

				<div id="selectDriver" class="upload-area fadein fade" ng-show="vm.assignStep == 2">
					<h3> {{vm.ordersSelected}} selected orders </h3>
					<select id="driverSelection" class="form-control" ng-model="vm.selectedDriver">
						<option value="0" selected>Choose driver</option>
						<option ng-repeat="driver in vm.drivers" value="{{driver.driverId}}">Driver #{{driver.driverId}}</option>
					</select>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-transparent fade" ng-click="vm.closeAssignModal()"> Cancel </button>

				<div class="info fadein fade absolute-center" ng-show="vm.assignStep == 1 && vm.orderSelection == true"> <img class="icon" src="img/info.svg" /> Select orders by drawing a polygon around them </div>
				<button class="btn fadein fade btn-transparent lowercase absolute-center" ng-show="vm.assignStep == 1 && vm.orderSelection == false" ng-click="vm.resetSelection()"> Retry </button>
				<button class="btn uppercase fade" ng-show="vm.assignStep == 1" ng-disabled="vm.orderSelection == true" ng-click="vm.assignStep = 2"> Next </button>

				<button class="btn uppercase fadein fade" ng-show="vm.assignStep == 2" ng-disabled="vm.selectedDriver == 0" ng-click="vm.assignOrdersToDriver()"> Assign </button>
			</div>
		</div>




		<div id="generate-trip-btn" class="floating-btn fadein" tooltip="Upload order" ng-click="vm.openOrderCreation()">
			<img src="img/road.svg" />
		</div>

	</div>
</div>
