<div style="height:100%;" >
	<div id="header">
		<div id="page-title">
			<h1>Unplanned orders</h1>
			<h5>{{vm.orders.length}} unplanned orders </h5>
		</div>
		<div class="btn btn-transparent light lowercase no-spacing" ng-click="vm.openOrderCreation()"> Upload orders </div>
	</div>

	<div id="container">
		<div id="orders-container">
			<div id="orders">
				<div class="card-container fadein" ng-repeat="order in vm.orders">
					<div class="card">
						<div class="card-header clearfix">
							<div class="half">Order #{{order.id}}</div>
							<div class="half"> {{order.orderType}} </div>
						</div>
						<div class="card-body">
							<table>
								<tr>
									<th> City name </th>
									<th> Street name </th>
								</tr>
								<tr>
									<td title="{{order.cityName}}"> {{order.cityName}} </td>
									<td title="{{order.streetName + ' ' + order.streetNumber}}"> {{order.streetName + ' ' + order.streetNumber}} </td>
								</tr>
								<tr>
									<th> From </th>
									<th> Until </th>
								</tr>
								<tr>
									<td title="{{order.timeWindowFrom}}"> {{order.timeWindowFrom}} </td>
									<td title="{{order.timeWindowTill}}"> {{order.timeWindowTill}} </td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="newOrderModal" class='modal fade' ng-show="vm.modal === 'newOrder'">
			<div class="modal-body">
				<div class="upload-area fade" ng-show="vm.uploadStep == 1">
					<input id="upload-btn" name="upload-btn" load-csv type="file">
					<label for="upload-btn" class="btn" > Upload </label>
					<p> Upload order in CSV format </p>
				</div>

				<div id="set-view" class="fadein fade" ng-show="vm.uploadStep == 2">
					<table id="order-data" class="table">
						<thead>
							<tr>
								<th class="field"> Field </th>
								<th class="value"> Value </th>
							</tr>
						</thead>
						<tbody id="order-body">
							<tr ng-repeat="field in vm.uploadFields">
								<td> {{field}} </td>
								<td> <input type="text" class="upload-value-field" ng-model="vm.uploadValues[vm.selectedOrder][$index]" spellcheck="false"/> </td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="notify_success" class="fadein" ng-show="vm.uploadStep == 3">
					<img src="img/success.svg" width="100px"/>
					<h3>Success! {{vm.uploadOrders.length}} orders have been added.</h3>
				</div>
			</div>
			<div class="modal-footer">
				<div class="btn btn-transparent fade" ng-click="vm.closeOrderCreation()" ng-show="vm.uploadStep != 3"> Cancel </div>
				<ul class="pagination fade fadein" ng-show="vm.uploadStep == 2 && vm.uploadValues.length > 1">
					<li ng-repeat="order in vm.uploadValues" ng-click="vm.selectedOrder=$index" ng-class="{'active': vm.selectedOrder == $index}">
						<a href="#"> {{$index + 1}} </a>
					</li>
				</ul>
				<div class="btn uppercase fade" ng-click="vm.saveOrder()" ng-disabled="vm.uploadStep == 1" ng-show="vm.uploadStep != 3"> Save </div>
			</div>
		</div>



		<div id="generate-trip-btn" class="floating-btn fadein" tooltip="Generate trip" ng-click="vm.modal = 'generateTrip'">
			<img src="img/road.svg" />
		</div>

		<div id="generate-trip-container" class="fade" ng-show="vm.modal == 'generateTrip'" ng-click="vm.modal=''">
			<div id="generate-trip" ng-click="$event.stopPropagation()">
				<h3> Assign trip to a driver </h3>
				<select class="form-control" ng-model="vm.tripDriver" ng-change="vm.generateTrip()">
					<option value="0" selected>Select driver</option>
					<option ng-repeat="driver in vm.drivers" value="{{driver.driverId}}">Driver #{{driver.driverId}}</option>
				</select>
			</div>
		</div>

	</div>
</div>
